* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}

#home { background-color: #111; }
#about { background-color: #222; }
#notebooklm { background-color: #333; }
#info { background-color: #444; }
#phases { background-color: #555; }
#motto { background-color: #666; }
#endgame { background-color: #777; }
#extras { background-color: #888; }